In [7]:
Nama = "Yanto"

In [8]:
print(f"Nama saya adalah {Nama}")

Nama saya adalah Yanto

In [9]:
#Dictionary
dic = {"a": 123, "b": 456}

In [11]:
dic

{'a': 123, 'b': 456}

In [1]:
print(f"Nomor saya adalah {dic["b"]}")

NameError: name 'dic' is not defined

In [2]:
#List
angka = [1,2,3,4]

In [5]:
print(f"angka yang saya pilih adalah = {angka[3]}")

angka yang saya pilih adalah = 4

In [6]:
#Tuples
tupleSaya = (1,2,3)

In [8]:
print(f"angka yang saya pilih adalah = {tupleSaya[1]}")

angka yang saya pilih adalah = 2

In [10]:
Kasir = [('No', 'Barang', 'Harga'),('1', 'Aqua', 'Rp. 3000'),('2', 'Oreo', 'Rp. 5000'),('3', 'Chitato', 'Rp. 3000')]

In [12]:
Kasir

[('No', 'Barang', 'Harga'),
 ('1', 'Aqua', 'Rp. 3000'),
 ('2', 'Oreo', 'Rp. 5000'),
 ('3', 'Chitato', 'Rp. 3000')]

In [14]:
for pembelian in Kasir:
    print(pembelian)

('No', 'Barang', 'Harga')
('1', 'Aqua', 'Rp. 3000')
('2', 'Oreo', 'Rp. 5000')
('3', 'Chitato', 'Rp. 3000')

In [16]:
for pembelian in Kasir:
    print(f"Barang yang dibeli adalah {pembelian[1]}")

Barang yang dibeli adalah Barang
Barang yang dibeli adalah Aqua
Barang yang dibeli adalah Oreo
Barang yang dibeli adalah Chitato

In [20]:
for no, pembelian, harga in Kasir:
    print(f"{no:{10}} {pembelian:{15}} {harga:{15}}")

No         Barang          Harga
1          Aqua            Rp. 3000
2          Oreo            Rp. 5000
3          Chitato         Rp. 3000

In [22]:
for no, pembelian, harga in Kasir:
    print(f"{no:{10}} {pembelian:{15}} {harga:>{15}}")

No         Barang                    Harga
1          Aqua                   Rp. 3000
2          Oreo                   Rp. 5000
3          Chitato                Rp. 3000

In [25]:
for no, pembelian, harga in Kasir:
    print(f"{no:{10}} {pembelian:{15}} {harga:_>{15}}")

No         Barang          __________Harga
1          Aqua            _______Rp. 3000
2          Oreo            _______Rp. 5000
3          Chitato         _______Rp. 3000